upstream tomcat { server ${UPSTREAM_TOMCAT}; keepalive 32; }
upstream relay  { server ${UPSTREAM_RELAY};  keepalive 32; }

server {
    listen 80;
    server_name _;
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl http2;
    server_name ${URL_HOST};

    ssl_certificate     /etc/nginx/certs/fullchain.pem;
    ssl_certificate_key /etc/nginx/certs/privkey.pem;

    location / {
        proxy_pass http://tomcat;
        include proxy_params;
    }
}
